#A{
    height: 550px;
    width: 1300px;
    border: 1px solid black;
    margin: 25px;
    margin-top: 2px;
    display: flex;
    flex: auto;
    position: relative;
    text-align: center;
    align-content: center;
}

#AB{
    height: 550px;
    width: 250px;
    border: 1px solid red;

}
#AC{
    height: 550px;
    width: 700px;
    border: 1px solid blue;

}
#AD{
    height: 550px;
    width: 350px;
    border: 1px solid purple;
}